<app-enigme-list-item (click)="navigateTo(['enigme','1'])">
  <h1>First Enigme</h1>
  <img [src]="imageEnigme1Src"/>
</app-enigme-list-item>

<app-enigme-list-item routerLink="/enigme/2">
  <h1>Second Enigme</h1>
  <img [src]="imageEnigme2Src"/>
</app-enigme-list-item>

<app-enigme-list-item routerLink="/enigme/3">
  <h1>Third Enigme</h1>
  <img [src]="imageEnigme3Src"/>
</app-enigme-list-item>

<app-enigme-list-item routerLink="/enigme/4">
  <h1>Fourth Enigme</h1>
  <img [src]="imageEnigme4Src"/>
</app-enigme-list-item>

<app-enigme-list-item routerLink="/enigme/5">
  <h1>Fifth Enigme</h1>
  <img [src]="imageEnigme5Src"/>
</app-enigme-list-item>
